.mainLoadContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(85, 85, 85, 0.7);
}

.loadingContainer{
    position: relative;
    width: 100px;
    height: 100px;
}

.loadingContainer::after{
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border-top:4px solid white;
    animation: loading 1s ease-in-out 0s infinite ;
}
.loadingContainer::before{
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border-bottom: 2px solid black;
    animation: loading 1s ease-in-out 0s infinite reverse;
}

@keyframes loading {
 0%{
    transform: rotateZ(0deg);
 }
 100%{
    transform: rotateZ(360deg);
 }     
}